<div class="bottom-bar">
  <div class="bottom-bar-content">
    <div class="bottom-bar-flex">
      <a href ="./index.html" class="logo-text">
        Watkins Wedding '27
      </a>
    <button type="button" class="hamburger">
      <div class="bar"></div>
      <div class="bar"></div>
      <div class="bar"></div>
    </button>
    </div>
    <div>
      <nav class="nav">
        <ul class="nav-list">
          <li class="nav-item">
            <a class="nav-link" href="#">Wedding Info</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Travel & Stay</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Things to Do</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Registry</a>
          </li>
          <li class="nav-item">
            <a class="btn" href="./form.html">RSVP</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>