* {
    box-sizing: border-box;
}
body{
    background-color: #818866;
    color: #39492e;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

div.main-body {
    padding: 0;
    margin: 0;
    /* overflow-x: hidden; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* border: 0.5px red solid; */
}

div.travelling-svg {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}


svg {
    width: 100vw;
    height: auto;
    display: block;
    /* font-family: "Roboto", sans-serif;
    font-size: 40px;
    font-weight: 700; */
    z-index: 2;
    color: white;
}

/* LINE */

/* navbar  */

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  background: none;
  border: none;
  font: inherit;
  color: inherit;
}

/* NORMAL STYLES */
.header {
  width: 100%;
  border-bottom: #39492e 1px solid;
}

.icon {
  margin-right: 3px;
  color: rgba(255, 255, 255, 0.17);
}

.bottom-bar {
  background-color: transparent;
}

.bottom-bar__content {
  min-height: 60px;
  max-width: 1200px;
  padding: 0 30px;
  margin: 0 auto;  
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  vertical-align: middle;
  display: flex;
  column-gap: 10px;
  align-items: center;
}

.logo__img {
  height: 30px;
}

.logo__text {
  font-size: 20px;
  color: #39492e;
  font-weight: 500;
  letter-spacing: -0.5px;
}

.nav {
  transition: all 0.3s ease-in-out;
}

.nav__list {
  display: flex;
  column-gap: 40px;
}

.nav__item {
    color: #39492e;
}

.nav__link {
  color: #39492e;
  transition: all 0.2s;
}

.nav__link:hover,
.nav__link:focus {
  color: #81291c;
}

.btn {
  padding: 8px 20px;
  border: #39492e 1px solid;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
  cursor: pointer;
  transition: all 0.2s;
  color:#39492e;
  /* color: #39492e;
  color: #818866; */
}

.btn:hover {
  background-color:  rgb(28, 128, 228);
}

.hamburger {
  cursor: pointer;
  display: none;
}

.bar {
  height: 2px;
  width: 27px;
  background-color: red;
  margin: 5px 0;
  opacity: 0.8;
  transition: all 0.3s ease-in-out;
}

/* For JS */
.nav--open {
  left: 50% !important;
}

.hamburger--open .bar:nth-child(1) {
  transform: translateY(7px) rotate(45deg);
}

.hamburger--open .bar:nth-child(2) {
  opacity: 0;
}

.hamburger--open .bar:nth-child(3) {
  transform: translateY(-7px) rotate(-45deg);
}

/* MEDIA QUERIES */
@media (max-width: 650px) {
  .nav {
    top: 90px;
    left: -100%;
    transform: translateX(-50%);
    background-color: currentColor;
    width: 100%;
    padding: 10px 0 25px;
  }

  .nav__list {
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
  }

  .nav__link {
    font-size: 14px;
  }

  .btn {
    font-size: 11px;
    padding: 7px 17px;
  }

  .hamburger {
    display: block;
  }
}

}
